.root {
    -fx-accent: #18528a;
    -fx-focus-color: -fx-accent;
    -fx-base: #2e2f33;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

Label.editable-text {
    -fx-background-color: transparent;
}

TextField.editable-text {
    -fx-background-color: transparent;
    -fx-border-color: rgba(128, 128, 128, 0.4);
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
}

.control-assignment-editor {
    -fx-border-width: 1;
    -fx-border-radius: 3px;
    -fx-border-color: black;
    -fx-padding: 5px;
}

Slider.control-detail-editor {
    -fx-padding: 6px;
}

.control-label {
    -fx-pref-width: 75px;
    -fx-padding: 5px;
}

.command-history-label:focused {
    -fx-background-color: gray;
}

.score-view {
    -fx-background-color: #1d1d20;
}

.grid-line {
    -fx-stroke: gray;
}

.play-head {
    -fx-stroke: green;
    -fx-stroke-width: 3px;
}

.play-head:hover {
    -fx-stroke-width: 5px;
}

.grid-time-code {
    -fx-stroke: #4bfd01;
    -fx-font-size: 10;
}

.score-object {
    -fx-background-color: transparent;
}

.score-object-content {
    -fx-background-color: black;
}

.score-object-content:hover {
    -fx-background-color: #0f0f0f;
}

.score-object-content:selected {
    -fx-background-color: #191212 !important;
}

.task-object-content {
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-border-color: gray;
}

.score-object-header {
    -fx-padding: 2px;
    -fx-background-color: black;
}

.score-object-name {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-padding: 2px;
}

.toolbar {
    -fx-background-color: #2e2f33;
    -fx-padding: 5px;
}

.icon-button {
    -fx-background-color: transparent;;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
}

.icon-button:hover {
    -fx-background-color: #351919;
}

.icon-button:selected {
    -fx-border-color: black;
}

.audio-flow-graph {
    -fx-background-color: #2e2f33;
}

.bus-object {
    -fx-background-color: #232328;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-padding: 3px;
    -fx-font-size: 16px;
}

.bus-object:hover {
    -fx-border-color: white;
}

.bus-object:focused {
    -fx-background-color: #4e0303;
}

.flow-arrow {
    -fx-stroke-width: 2.5;
}

.flow-arrow:hover {
    -fx-stroke-width: 4;
}

/*.search-field {
    -fx-background-image: url('./icons/find.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-background-size: 32px;
}*/

.recent-projects-list {
    -fx-padding: 5px;
}

.project-box {
    -fx-padding: 5px;
}

.project-box:hover {
    -fx-background-color: #351919;
}

.project-name {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.project-path {
    -fx-text-fill: gray;
    -fx-font-size: 12px;
}

.startup-screen-top-bar {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.startup-screen {
    -fx-padding: 5px;
}

.code-area {
    -fx-background-color: transparent;
}

.code-area > .viewport {
    -fx-background-color: transparent;
}

.number {
    -fx-text-fill: #7d00ff !important;
}

.variable-ref {
    -fx-text-fill: white !important;
}

.class-ref {
    -fx-text-fill: turquoise !important;
}

.env-ref {
    -fx-text-fill: #ff7300;
}

.keyword {
    -fx-text-fill: orange !important;
}

.unrecognized {
    -fx-text-fill: #810000 !important;
    -fx-underline: true;
}

.synth-defs-header {
    -fx-padding: 5px;
    -fx-alignment: center-left;
}

.synth-defs-heading {
    -fx-font-size: 16px;
}

.synth-def-header {
    -fx-padding: 2px;
    -fx-background-color: rgba(0, 0, 0, 0.33);
    -fx-spacing: 5px;
    -fx-alignment: center-left;
}

.synth-defs {
    -fx-background-color: #1e1f22;
}

.code-pane {
    -fx-background-color: #1e1f22;
}

.synth-def-box {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.synth-def-box:hover {
    -fx-background-color: rgba(100, 0, 0, 0.1);
}

.selector-button {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #232323;
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
}

.selector-button:hover {
    -fx-background-color: #351919;
}

.selector-button:selected {
    -fx-background-color: #501717 !important;
}

.identifier-editor {
    -fx-min-width: 120px;
    -fx-pref-width: 120px;
}

.parameter-box {
    -fx-border-color: black;
    -fx-border-width: 1px 2px 1px 2px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-alignment: center-left;
}

.parameter-box:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.parameter-def-name {
    -fx-min-width: 120px;
    -fx-pref-width: 120px;
}

.numbered-cell {
    -fx-alignment: center-left;
}

.editor-list-number {
    -fx-font-size: 15px;
    -fx-padding: 5px;
}

.identifier-editor {
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}

.choice-editor-combo-box {
    -fx-pref-width: 100px;
}

.horizontal-choice-editor {
    -fx-spacing: 5px;
    -fx-alignment: center-left;
}

.buffer-box {
    -fx-spacing: 5px;
    -fx-alignment: center-left;
    -fx-padding: 5px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: transparent;
}

.buffer-box:hover {
    -fx-background-color: rgba(100, 0, 0, 0.1);
}

.buffers-heading {
    -fx-font-size: 16px;
}

.buffers-header {
    -fx-padding: 5px;
    -fx-alignment: center-left;
}

.buffers {
    -fx-background-color: #1e1f22;
}

.buffers:drop-possible {
    -fx-background-color: #082301;
}

.compound-expr {
    -fx-border-width: 2px !important;
    -fx-border-radius: 5px !important;
    -fx-background-radius: 5px !important;
    -fx-padding: 2px !important;
    -fx-border-color: black;
}

.new-object {
    -fx-border-color: green !important;
}

.message-send {
    -fx-border-color: blue !important;
}

.array {
    -fx-border-color: indigo !important;
    -fx-alignment: center-left;
}

.literal-array {
    -fx-border-color: chocolate !important;
    -fx-alignment: center-left;
}

.tuple {
    -fx-border-color: darkolivegreen !important;
    -fx-alignment: center-left;
}

.function {
    -fx-border-color: purple !important;
}

.code-block {
    -fx-border-color: cyan !important;
}

.hextant-text.symbol {
    -fx-text-fill: green;
}

.hextant-text.string {
    -fx-text-fill: string;
}

.code-pane {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}

.code-pane-header {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.code-pane-title {
    -fx-font-size: 16px;
}