.root {
    -fx-accent: #18528a;
    -fx-focus-color: -fx-accent;
    -fx-base: #2e2f33;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

Label.editable-text {
    -fx-background-color: transparent;
}

TextField.editable-text {
    -fx-background-color: transparent;
    -fx-border-color: rgba(128, 128, 128, 0.4);
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
}

.control-assignment-editor {
    -fx-border-width: 1;
    -fx-border-radius: 3px;
    -fx-border-color: black;
    -fx-padding: 5px;
}

Slider.control-detail-editor {
    -fx-padding: 6px;
}

.control-label {
    -fx-pref-width: 75px;
    -fx-padding: 5px;
}

.command-history-label:focused {
    -fx-background-color: gray;
}

.score-view {
    -fx-background-color: #2e2f33;
}

.grid-line {
    -fx-stroke: gray;
}

.play-head {
    -fx-stroke: black;
}

.grid-time-code {
    -fx-stroke: #4bfd01;
}

.score-object {
    -fx-background-color: black;
}

.score-object:hover {
    -fx-background-color: #0f0f0f;
}

.score-object:selected {
    -fx-background-color: #191212 !important;
}

.task-object {
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-border-color: gray;
}

.score-object-header {
    -fx-padding: 2px;
}

.score-object-name {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-padding: 2px;
}

.toolbar {
    -fx-background-color: #2e2f33;
    -fx-padding: 5px;
}

.icon-button {
    -fx-background-color: #312c2c;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.icon-button:hover {
    -fx-border-color: gray;
    -fx-background-color: #501717;
}

.icon-button:selected {
    -fx-background-color: #4e0303 !important;
}

.audio-flow-graph {
    -fx-background-color: #2e2f33;
}

.bus-object {
    -fx-background-color: #232328;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-padding: 3px;
    -fx-font-size: 16px;
}

.bus-object:hover {
    -fx-border-color: white;
}

.bus-object:focused {
    -fx-background-color: #4e0303;
}

.flow-arrow {
    -fx-stroke-width: 2.5;
}

.flow-arrow:hover {
    -fx-stroke-width: 4;
}

/*.search-field {
    -fx-background-image: url('./icons/find.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-background-size: 32px;
}*/

.recent-projects-list {
    -fx-padding: 5px;
}

.project-box {
    -fx-padding: 5px;
}

.project-box:hover {
    -fx-background-color: #501717;
}

.project-name {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.project-path {
    -fx-text-fill: gray;
    -fx-font-size: 12px;
}

.startup-screen-top-bar {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.startup-screen {
    -fx-padding: 5px;
}

.code-area {
    -fx-background-color: transparent;
}

.code-area > .viewport {
    -fx-background-color: transparent;
}

.number {
    -fx-text-fill: #7d00ff !important;
}

.variable-ref {
    -fx-text-fill: white !important;
}

.class-ref {
    -fx-text-fill: turquoise !important;
}

.env-ref {
    -fx-text-fill: #ff7300;
}

.keyword {
    -fx-text-fill: orange !important;
}

.unrecognized {
    -fx-text-fill: #810000 !important;
    -fx-underline: true;
}