.root {
    -fx-accent: #18528a;
    -fx-focus-color: -fx-accent;
    -fx-base: #2e2f33;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

Label.editable-text {
    -fx-background-color: transparent;
}

TextField.editable-text {
    -fx-background-color: transparent;
    -fx-border-color: rgba(128, 128, 128, 0.4);
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
}

.detail-item {
    -fx-border-width: 1;
    -fx-border-radius: 3px;
    -fx-border-color: black;
    -fx-padding: 5px;
    -fx-alignment: center-left;
}

.detail-item:hover {
    -fx-background-color: rgba(100, 0, 0, 0.1);
}

Slider.control-detail-editor {
    -fx-padding: 6px;
}

.control-label {
    -fx-pref-width: 75px;
    -fx-padding: 5px;
}

.command-history-label:focused {
    -fx-background-color: gray;
}

.score-view {
    -fx-background-color: #1d1d20;
}

.grid-line {
    -fx-stroke: green;
}

.play-head {
    -fx-stroke: green;
    -fx-stroke-width: 3px;
}

.play-head:hover {
    -fx-stroke-width: 5px;
}

.grid-time-code {
    -fx-stroke: green;
    -fx-font-size: 10;
}

.score-object {
    -fx-border-width: 0px;
}

/*noinspection CssInvalidPseudoSelector*/
.score-object:muted {
    -fx-opacity: 0.5;
}

/*noinspection CssInvalidPseudoSelector*/
.score-object:clone-of-selected {
    -fx-border-color: #220022 !important;
}

/*noinspection CssInvalidPseudoSelector*/
.score-object:original-of-selected {
    -fx-border-color: #002200 !important;
}

.toolbar {
    -fx-background-color: #2e2f33;
    /*-fx-padding: 5px;*/
}

.icon-button {
    -fx-background-color: transparent;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.icon-button:hover {
    -fx-background-color: #351919;
}

.icon-button:selected {
    -fx-border-color: black;
    -fx-background-color: #351919 !important;
}

.audio-flow-graph {
    -fx-background-color: #1e1f22;
}

.audio-flow-graph:drop-possible {
    -fx-background-color: #222720;
}

.bus-node {
    -fx-background-color: #232328;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-padding: 3px;
    -fx-font-size: 16px;
}

.bus-node:hover {
    -fx-border-color: white;
}

.bus-node:focused {
    -fx-background-color: #4e0303;
}

.flow-arrow {
    -fx-stroke-width: 2.5;
}

.flow-arrow:hover {
    -fx-stroke-width: 4;
}

.recent-projects-list {
    -fx-padding: 5px;
}

.project-box {
    -fx-padding: 5px;
}

.project-box:hover {
    -fx-background-color: #351919;
}

.project-name {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.project-path {
    -fx-text-fill: gray;
    -fx-font-size: 12px;
}

.startup-screen-top-bar {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.startup-screen {
    -fx-padding: 5px;
}

.code-pane {
    -fx-background-color: #1e1f22;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}

.number {
    -fx-text-fill: #7d00ff !important;
}

.variable-ref {
    -fx-text-fill: white !important;
}

.class-ref {
    -fx-text-fill: turquoise !important;
}

.env-ref {
    -fx-text-fill: #ff7300;
}

.keyword {
    -fx-text-fill: orange !important;
}

.unrecognized {
    -fx-text-fill: #810000 !important;
    -fx-underline: true;
}

.tool-pane-header {
    -fx-padding: 5px;
    -fx-alignment: center-left;
    -fx-spacing: 5px;
}

.heading {
    -fx-font-size: 16px;
}

.tool-pane {
    -fx-border-color: green;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-background-color: #1e1f22;
}

.tool-pane:drop-possible {
    -fx-background-color: #222720;
}

.score-pane:drop-possible {
    -fx-background-color: #222720;
}

.object-box {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 2px;
    /*-fx-background-color: rgba(0, 0, 0, 0.33)*/;
    -fx-spacing: 5px;
    -fx-alignment: center-left;
}

.object-box:hover {
    -fx-background-color: rgba(100, 0, 0, 0.1);
}

.selector-button {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #232323;
    -fx-pref-width: 32px;
    -fx-min-width: 32px;
    -fx-pref-height: 32px;
}

.selector-button:hover {
    -fx-background-color: #351919;
}

.selector-button:selected {
    -fx-background-color: #501717 !important;
}

.name {
    -fx-spacing: 5px;
    -fx-padding: 0px 5px 0px 5px;
    -fx-alignment: center-left;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-border-color: black;
}

.name-field {
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.choice-editor-combo-box {
    -fx-pref-width: 100px;
}

.horizontal-choice-editor {
    -fx-spacing: 5px;
    -fx-alignment: center-left;
}

.compound-expr {
    -fx-border-width: 2px !important;
    -fx-border-radius: 5px !important;
    -fx-background-radius: 5px !important;
    -fx-padding: 2px !important;
    -fx-border-color: gray;
}

.new-object {
    -fx-border-color: green !important;
}

.message-send {
    -fx-border-color: blue !important;
}

.array {
    -fx-border-color: indigo !important;
    -fx-alignment: center-left;
}

.literal-array {
    -fx-border-color: chocolate !important;
    -fx-alignment: center-left;
}

.tuple {
    -fx-border-color: darkolivegreen !important;
    -fx-alignment: center-left;
}

.function {
    -fx-border-color: purple !important;
}

.code-block {
    -fx-border-color: cyan !important;
}

.plugin {
    -fx-border-color: white;
    -fx-padding: 5px;
}

.hextant-text.symbol {
    -fx-text-fill: green;
}

.hextant-text.string {
    -fx-text-fill: green;
}

.time-range-rect {
    -fx-stroke: gray;
    -fx-fill: rgba(0, 0, 0, 0.2);
}

.time-range-rect:focused {
    -fx-fill: rgba(0, 0, 0, 0.3);
    -fx-stroke: green;
}

.mouse-tracker-line {
    -fx-stroke-width: 1px;
    -fx-stroke: gray;
}

.waveform-line {
    -fx-stroke: green;
}

.channel-separator-line {
    -fx-stroke: white;
}

.memo-area {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .content {
    -fx-background-color: transparent;
}

.coordinate-info {
    -fx-text-fill: white;
    -fx-font-size: 14;
}

.envelope-line {
    -fx-stroke-width: 5px;
}

.envelope-line:hover {
    -fx-stroke-width: 7px;
}

.toolbar-part {
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-spacing: 3px;
    -fx-padding: 0px 10px 0px 10px;
    -fx-pref-height: 50px;
    -fx-alignment: center-left;
    -fx-background-color: rgba(0, 0, 0, 0.15);
    -fx-background-radius: 5px;
}

.toolbar-part:hover {
    -fx-background-color: rgba(0, 0, 0, 0.25);
}

.chain-arrow {
    -fx-stroke-width: 3px;
    -fx-stroke: gray;
}

.chain-arrow:hover {
    -fx-stroke-width: 7px;
}

.knob-indicator {
    -fx-stroke-width: 2px;
}

.knob-mass {
    -fx-fill: black;
}

.knob-mass:hover {
    -fx-border-width: 2px;
    -fx-border-color: green;
}

.knob-dot {
    -fx-fill: black;
}

.knob-dot:hover {
    -fx-border-width: 2px;
    -fx-border-color: green;
}

.control-knob {
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-background-color: transparent;
}

.control-knob:hover {
    -fx-background-color: #351919;
}

.control-knob:focused {
    -fx-border-width: 2px;
    -fx-border-color: black;
}

.knob-arc {
    -fx-stroke: black;
    -fx-fill: transparent;
    -fx-stroke-width: 3px;
}

.knob-value {
    -fx-font-size: 10px;
    -fx-text-fill: white;
}

.prompt {
    -fx-padding: 6px;
    -fx-background-color: black !important;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-border-width: 3px !important;
    -fx-border-color: gray !important;
}

.prompt-text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-pref-width: 200px;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: gray;
    -fx-text-fill: white;
}

.global-controls {
    -fx-background-color: #2e2f33;
    -fx-spacing: 5px;
    -fx-padding: 5px;
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-pref-height: 64px;
}

.parameter-def .hextant-text {
    -fx-font-size: 14px;
}

.pitch-line {
    -fx-stroke: black;
}

.note-object {
    -fx-border-width: 2px;
    -fx-border-color: transparent;
}

.note-object:hover {
    -fx-border-color: gray;
}

.note-object:focused {
    -fx-border-color: white;
}

.tempo-line {
    -fx-stroke: green;
}

.bar-line {
    -fx-stroke-width: 3px;
}

.beat-line {
    -fx-stroke-width: 2px;
}

.tick-line {
    -fx-stroke-width: 1px;
}

.bar-number {
    -fx-font-size: 12px;
    -fx-fill: green;
    -fx-font-weight: 300;
}

.grid-marker-line {
    -fx-stroke: white;
    -fx-stroke-width: 3px;
}

.progress-bar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.35em;
}

.searchable-list {
    -fx-padding: 2px;
    -fx-background-color: #2a2a32;
    -fx-spacing: 3px;
}

.search-text {
    -fx-font-size: 12px;
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-radius: 0px;
    -fx-padding: 5px 5px 5px 5px;
    -fx-max-width: 1000;
}

.options-box {
    -fx-padding: 2px;
}

.option-cell {
    -fx-background-color: transparent;
    -fx-padding: 3px;
    -fx-background-radius: 3px;
}

.option-cell:selected {
    -fx-background-color: #351919 !important;
}

.option-label {
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.settings-pane {
    -fx-background-color: #1e1f22;
}