.control-input-text {
    -fx-background-color: transparent;
    -fx-min-width: 90px;
    -fx-pref-width: 90px !important;
    -fx-border-color: rgba(67, 67, 67, 0.5);
    -fx-border-radius: 3px;
}

.slider-adjust-button {
    -fx-border-width: 3px !important;
}

.slider-adjust-button:hover {
    -fx-border-color: black;
}

/*noinspection CssInvalidPseudoSelector*/
.selector-button:drop-possible,
.parameter-control-item:drop-possible,
.tool-pane:drop-possible,
.empty-display:drop-possible {
    -fx-background-color: rgba(0, 128, 0, 0.5) !important;
}
/*noinspection CssInvalidPseudoSelector*/
.score-pane:drop-possible {
    -fx-background-color: #032c03 !important;
}

.parameter-control-item {
    -fx-alignment: center-left;
    -fx-spacing: 3px;
}

.drop-preview {
    -fx-hbar-policy: always;
    -fx-vbar-policy: always;
    -fx-background-color: rgba(0, 128, 0, 0.5);
}