/*
* Flow Pane
*/

.flow-pane {
    -fx-vbar-policy: never;
    -fx-background-color: black !important;
}

.volume-fader {
    -fx-minor-tick-count: 6;
    -fx-major-tick-unit: 6;
    -fx-snap-to-ticks: true;
    -fx-min-width: 150px;
    -fx-orientation: horizontal;
    -fx-show-tick-labels: true;
}