.root {
    -fx-accent: #06b806;
    -fx-focus-color: -fx-accent;
    -fx-base: #1d1d20;
    -fx-background-color: transparent;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

/*
* Scroll Pane
*/

.scroll-pane {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar {
    -fx-font-size: 6px !important;
}

.scroll-pane :vertical .thumb,
.scroll-pane :horizontal .thumb {
    -fx-background-color: rgba(0, 128, 0, 0.3);
    -fx-background-radius: 4px;
}

.scroll-pane .thumb:hover {
    -fx-background-color: rgba(0, 128, 0, 0.7) !important;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
    -fx-pref-width: 0px;
    -fx-pref-height: 0px;
}

.split-pane {
    -fx-background-color: transparent;
}

/*
* Text fields
*/

.sleek-text-field {
    -fx-prompt-text-fill: gray;
    -fx-font-size: 11px;
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-radius: 0px;
    -fx-padding: 1px;
}

.search-field {
    -fx-border-width: 0px 0px 1px 0px;
    -fx-min-width: 150px;
}

.search-field FontIcon {
    -fx-icon-size: 16px;
    -fx-icon-color: -fx-accent;
}

.toggle-switch {
    -fx-background-color: transparent !important;
}

.name-control {
    -fx-spacing: 5px;
    -fx-alignment: center-left;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-border-color: black;
}

.name-field {
    -fx-font-size: 12px;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0px 2px 0px 2px;
}

.check-box {
    -fx-background-color: transparent !important;
    -fx-content-display: right;
}

.check-box .box {
    -fx-background-color: transparent !important;
    -fx-border-color: white;
    -fx-border-radius: 0px;
}

.check-box:hover .box {
    -fx-border-color: -fx-accent;
}

.check-box:selected .mark {
    -fx-background-color: white;
}