.root {
    -fx-accent: #06b806;
    -fx-focus-color: -fx-accent;
    -fx-base: #1d1d20;
    -fx-background-color: transparent;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
    -fx-font-size: 12px;
    -fx-font-family: "Monospaced";
}

.app-layout {
    -fx-background-color: -fx-base;
}

.split-pane {
    -fx-background-color: transparent;
}

.name-control {
    -fx-spacing: 0px;
    -fx-alignment: center-left;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-border-color: black;
}

.name-field, .name-label {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0px 2px 0px 2px;
}

.split-pane-divider {
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1px 1px 0px 0px;
}

ToggleButton {
    -fx-border-color: black;
}

ToggleButton:selected {
    -fx-background-color: #351919 !important;
}