.knob-indicator {
    -fx-stroke-width: 2px;
    -fx-stroke: black;
}

.knob-dot:hover {
    -fx-border-width: 2px;
    -fx-border-color: green;
}

.control-knob {
    /*-fx-background-radius: 6px;*/
    /*-fx-border-radius: 6px;*/
    -fx-background-color: transparent;
}

/*.control-knob:hover {*/
/*    -fx-background-color: #351919;*/
/*}*/

.control-knob:focused {
    -fx-border-width: 2px;
    -fx-border-color: black;
}

.knob-arc {
    -fx-fill: transparent;
    -fx-stroke-width: 2px;
}

.knob-value {
    -fx-font-size: 10px;
    -fx-text-fill: white;
}
