.launcher-grid-item {
    -fx-alignment: top-center;
    -fx-border-color: black;
    -fx-padding: 5px;
    -fx-spacing: 8px;
    -fx-pref-height: 150px;
    -fx-pref-width: 150px;
}

.launcher-grid-item:hover {
    -fx-background-color: rgba(0, 1000, 0, 0.1);
}

.launcher-grid-item:active {
    -fx-background-color: rgba(100, 0, 0, 0.35) !important;
}

.launcher-grid-item:drop-possible {
    -fx-background-color: rgba(0, 128, 0, 0.5);
}

Button.grid-bank-selector {
    -fx-focus-traversable: false;
    -fx-border-color: black;
    -fx-border-radius: 2px;
}

Button.grid-bank-selector:hover {
    -fx-background-color: rgba(100, 0, 0, 0.35);
}

Button.grid-bank-selector:selected {
    -fx-border-color: green;
}