.launcher-grid-item {
    -fx-alignment: top-center;
    -fx-border-color: black;
    -fx-padding: 2px;
    -fx-spacing: 2px;
    -fx-min-height: 90px;
    -fx-max-height: 90px;
    -fx-min-width: 90px;
    -fx-max-width: 90px;
}

.launcher-grid-item:hover {
    -fx-background-color: rgba(0, 1000, 0, 0.1);
}

.launcher-grid-item:active {
    -fx-background-color: rgba(100, 0, 0, 0.35) !important;
}

.launcher-grid-item:drop-possible {
    -fx-background-color: rgba(0, 128, 0, 0.5);
}

Text.grid-item-label {
    -fx-max-width: 80px;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

Button.grid-bank-selector {
    -fx-focus-traversable: false;
    -fx-border-color: black;
    -fx-border-radius: 2px;
}

Button.grid-bank-selector:hover {
    -fx-background-color: rgba(100, 0, 0, 0.35);
}

Button.grid-bank-selector:selected {
    -fx-border-color: green;
}