.buffer-separator {
    -fx-stroke: grey;
    -fx-stroke-width: 1px;
}

.buffer-separator:hover {
    -fx-stroke-width: 5px;
}

.hovered-buffer-region {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.selected-buffer-region {
    -fx-background-color: rgba(255, 0, 0, 0.2);
}

.selected-buffer-region:focused {
    -fx-background-color: rgba(255, 0, 0, 0.3);
}

.buffer-play-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.buffer-play-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-background-radius: 50%;
}

.buffer-play-button FontIcon {
    -fx-icon-size: 30px;
}

.record-cursor {
    -fx-stroke: white;
    -fx-stroke-dash-array: 10 10;
    -fx-stroke-width: 1px;
}

.live-buffer-item {
    -fx-padding: 2px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    /*-fx-background-color: rgba(0, 0, 0, 0.5);*/
    -fx-spacing: 3px;
    -fx-alignment: center-left;
}

.live-buffer-item:selected {
    -fx-background-color: #501717 !important;
}