VBox.fader-layout {
    -fx-padding: 5px 0px 5px 0px;
    -fx-spacing: 3px;
    -fx-alignment: center;
}

.fader-separator {
    -fx-background-color: black;
    -fx-pref-height: 1px;
}

Label.fader-volume {
    -fx-font-size: 10px !important;
}

.fader-volume-box {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 3px;
}

.mute-solo-button FontIcon {
    -fx-icon-size: 15px;
    -fx-icon-color: gray;
}

.icon-button.mute-solo-button {
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.icon-button.mute-solo-button:hover {
    -fx-background-color: rgba(128, 128, 128, 0.15);
}

.icon-button.mute-solo-button:selected {
    -fx-background-color: #351919 !important;
}

.icon-button.mute-solo-button:selected FontIcon {
    -fx-icon-color: green !important;
}

.mono-button:selected {
    -fx-background-color: #351919 !important
}

.fader-thumb {
    -fx-fill: darkgreen;
    -fx-stroke-width: 1px;
    -fx-stroke: transparent;
}

.fader-thumb:hover {
    -fx-fill: green;
}

.fader-thumb:focused, .fader-thumb:pressed {
    -fx-stroke: black;
}