VBox.fader-layout {
    -fx-padding: 5px 0px 5px 0px;
    -fx-spacing: 3px;
    -fx-alignment: center;
    -fx-pref-width: 70px;
    -fx-min-width: 70px;
}

.fader-separator {
    -fx-background-color: black;
    -fx-pref-height: 1px;
}

Label.fader-volume {
    -fx-font-size: 10px !important;
}

.fader-volume-box {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 3px;
}

.mute-solo-button FontIcon {
    -fx-icon-size: 15px;
    -fx-icon-color: gray;
}

.icon-button.mute-solo-button {
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.icon-button.mute-solo-button:hover {
    -fx-background-color: rgba(128, 128, 128, 0.15);
}

.icon-button.mute-solo-button:selected {
    -fx-background-color: #351919 !important;
}

.icon-button.mute-solo-button:selected FontIcon {
    -fx-icon-color: green !important;
}

.mono-button:selected {
    -fx-background-color: #351919 !important
}

Slider.volume-fader {
    -fx-minor-tick-count: 6;
    -fx-major-tick-unit: 6;
    -fx-show-tick-labels: true;
    -fx-orientation: vertical;
    -fx-show-tick-marks: true;
}

Slider.volume-fader .thumb {
    -fx-shape: "M 0 0 L 0 10 L 10 5 Z";
    -fx-background-color: darkgreen;
    -fx-background-radius: 5px;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
    -fx-focus-traversable: false;
    -fx-effect: none;
}

.fader-box:focused .volume-fader .thumb {
    -fx-border-color: black;
    -fx-border-width: 2px;
}

Slider.volume-fader .thumb:hover {
    -fx-background-color: green;
}

Slider.volume-fader .thumb:focused {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

Slider.volume-fader .track {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-pref-height: 5px;
    -fx-background-radius: 3px;
}