.score-view {
    -fx-background-color: #1a1a1b;
}

.selection-rect {
    -fx-stroke: gray;
    -fx-fill: rgba(0, 0, 0, 0.2);
}

.selection-rect:focused {
    -fx-fill: rgba(0, 0, 0, 0.3);
    -fx-stroke: green;
}

.mouse-tracker-line {
    -fx-stroke-width: 1px;
    -fx-stroke: gray;
}

.channel-separator-line {
    -fx-stroke: white;
}

.memo-area {
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-size: 11px !important;
    -fx-font-family: "Monospaced" !important;
}

TextArea.memo-area {
    -fx-control-inner-background: transparent !important;
    -fx-focus-color: transparent !important;
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

Label.memo-area {
    -fx-padding: 5px 5px 5px 8px;
}

.play-head {
    -fx-stroke: green;
    -fx-stroke-width: 2px;
}

.envelope-sub-window {
    -fx-border-color: grey;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}

.pitch-line {
    -fx-stroke: black;
}

.note-object {
    -fx-border-width: 2px;
    -fx-border-color: transparent;
}

.note-object:hover {
    -fx-border-color: gray;
}

.note-object:focused {
    -fx-border-color: white;
}

.grid-marker-line {
    -fx-stroke: white;
    -fx-stroke-width: 3px;
}

.coordinate-info {
    -fx-text-fill: white;
}

.time-code-label {
    -fx-font-size: 15px;
    -fx-text-fill: green;
    -fx-font-weight: 300;
}

.score-object-top-bar {
    -fx-alignment: center-left;
    -fx-spacing: 5px;
}

.parameter-controls-bar {
    -fx-spacing: 5px;
    -fx-alignment: center-left;
}

.simple-parameter-control-box {
    -fx-alignment: center-left;
}

.resize-region {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
}

.resize-region-horizontal {
    -fx-pref-width: 7px;
}

.resize-region-vertical {
    -fx-pref-height: 7px;
}

.score-object:hover .resize-region {
    -fx-background-color: rgba(0, 128, 0, 0.5);
}

.score-object .resize-region:hover {
    -fx-background-color: rgba(0, 192, 0, 0.75);
}

.score-object .resize-region:pressed {
    -fx-background-color: rgba(0, 256, 0, 1);
}

.drag-icon-button FontIcon {
    -fx-icon-size: 15px;
    -fx-icon-color: green;
}

/*.drag-icon-button:hover FontIcon, .drag-icon-button:pressed FontIcon {*/
/*    -fx-icon-color: red;*/
/*}*/

.attack-release-overlay {
    -fx-fill: rgba(0, 0, 0, 0.2);
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.single-object-score-pane-container {
    -fx-padding: 10px;
}