.simple-sc-expr:number {
    -fx-text-fill: #7d00ff !important;
}

.simple-sc-expr:variable-ref {
    -fx-text-fill: #2b7800 !important;
}

.simple-sc-expr:class-ref {
    -fx-text-fill: turquoise !important;
}

.simple-sc-expr:env-ref {
    -fx-text-fill: #ff7300;
}

.simple-sc-expr:parameter-ref {
    -fx-text-fill: #bd4f4f;
}

.keyword, .simple-sc-expr:keyword {
    -fx-text-fill: orange !important;
}

.simple-sc-expr:unrecognized {
    -fx-text-fill: #810000 !important;
    -fx-underline: true;
}

.sc-expr:disabled {
    -fx-opacity: 0.5;
}

.compound-expr {
    -fx-border-width: 2px !important;
    -fx-border-radius: 2px !important;
    -fx-background-radius: 2px !important;
    -fx-padding: 0px !important;
    -fx-border-color: gray;
    -fx-alignment: center-left;
}

.synth-expr {
    -fx-border-color: green !important;
}

.message-send {
    -fx-border-color: blue !important;
}

.array {
    -fx-border-color: indigo !important;
    -fx-alignment: center-left;
}

.literal-array {
    -fx-border-color: chocolate !important;
    -fx-alignment: center-left;
}

.tuple {
    -fx-border-color: darkolivegreen !important;
    -fx-alignment: center-left;
}

.function {
    -fx-border-color: purple !important;
}

.code-block {
    -fx-border-color: cyan !important;
}

.hextant-text.symbol {
    -fx-text-fill: green;
}

.hextant-text.string {
    -fx-text-fill: green;
}

.numerical-control-spec .hextant-text {
    -fx-font-size: 11px !important;
}

.control-spec .keyword {
    -fx-font-size: 11px !important;
}

.bus-control-spec .keyword {
    -fx-font-size: 11px !important;
}

.horizontal-choice-editor {
    -fx-alignment: center-left;
}
