.toolbar-part {
    -fx-spacing: 4px !important;
    -fx-alignment: center;
}

.toolbar-part-segment {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.toolbar-part-segment:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.toolbar {
    -fx-padding: 2px;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: black;
}

.dock-icons {
    -fx-padding: 4px;
    -fx-spacing: 4px;
}

.dock-icons-bar {
    -fx-hbar-policy: never;
    -fx-border-color: black;
    -fx-border-width: 0px 1px 0px 1px;
}

.latency-knob-box {
    -fx-alignment: center;
    -fx-border-width: 0px 1px;
    -fx-border-color: black;
    -fx-padding: 0px 8px;
}

.time-warp-label {
    -fx-font-size: 12px;
    -fx-padding: 5px;
}