.log-record {
    -fx-alignment: center-left;
    -fx-padding: 3px;
}

.log-record:hover {
    -fx-background-color: #351919;
}

.log-record:focused {
    -fx-background-color: #501717;
}

.tool-pane-header {
    -fx-padding: 5px;
    -fx-alignment: center-left;
    -fx-spacing: 5px;
}

.heading {
    -fx-font-size: 14px;
}

.object-box-header {
    -fx-spacing: 2px;
    -fx-alignment: center-left;
    -fx-background-color: transparent;
    -fx-padding: 2px;
}

.object-box {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-padding: 2px;
}

.object-box:inline-content:hover {
    -fx-background-color: transparent !important;
}

.object-box:inline-content:hover:selected {
    -fx-background-color: transparent !important;
}

.object-box:hover {
    -fx-background-color: rgba(60, 0, 0, 0.5) !important;
}

.object-box:selected {
    -fx-background-color: transparent !important;
    -fx-border-color: green !important;
}

.object-box:hover:selected {
    -fx-background-color: rgba(60, 0, 0, 0.5) !important;
    -fx-border-color: green !important;
}

.command-history-label:focused {
    -fx-background-color: gray;
}

.code-pane {
    -fx-background-color: black;
}

.pattern-plot {
    -fx-background-color: black;
    -fx-border-color: -fx-accent;
    -fx-border-width: 1px;
}

.result-pane {
    -fx-spacing: 5px;
    -fx-padding: 5px;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-color: gray;
}

.console-output {
    -fx-background-color: black !important;
    -fx-focus-traversable: false;
}

.path-label {
    -fx-font-size: 10px;
    -fx-font-family: "Monospaced"
}

.object-box:flow-group-hover {
    -fx-background-color: rgba(60, 0, 0, 0.5) !important;
}

Button.filter-tag-button:selected {
    -fx-background-color: rgba(0, 128, 0, 0.5) !important;
}