.log-record {
    -fx-alignment: center-left;
    -fx-padding: 3px;
}

.log-record:hover {
    -fx-background-color: #351919;
}

.log-record:focused {
    -fx-background-color: #501717;
}

.icon-button.large-icon-button.tool-pane-button {
    -fx-border-radius: 5px !important;
    -fx-border-width: 2px !important;
    -fx-background-radius: 5px !important;
    -fx-background-insets: 2px;
    -fx-padding: 3px !important;
}

.icon-button.large-icon-button.tool-pane-button:selected {
    -fx-border-color: transparent;
    -fx-background-color: rgba(128, 128, 128, 0.25) !important;
}

.icon-button.large-icon-button.tool-pane-button:selected:tool-pane-focused {
    -fx-border-color: green !important;
}

.tool-pane-header {
    -fx-padding: 3px;
    -fx-alignment: center-left;
    -fx-spacing: 5px;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: black; /*TODO maybe not*/
}

.heading {
    -fx-font-size: 14px;
}

.object-box-header {
    -fx-spacing: 3px;
    -fx-alignment: center-left;
    -fx-background-color: transparent;
    -fx-padding: 2px;
}

.name {
    -fx-alignment: center-left;
}

.object-box {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-padding: 2px;
}

.object-box:inline-content:hover {
    -fx-background-color: transparent !important;
}

.object-box:inline-content:hover:selected {
    -fx-background-color: transparent !important;
}

.object-box:hover {
    -fx-background-color: rgba(60, 0, 0, 0.5) !important;
}

.object-box:selected {
    -fx-background-color: transparent !important;
    -fx-border-color: green !important;
}

.object-box:hover:selected {
    -fx-background-color: rgba(60, 0, 0, 0.5) !important;
    -fx-border-color: green !important;
}

.command-history-label:focused {
    -fx-background-color: gray;
}

.code-pane {
    -fx-background-color: black;
}

.pattern-plot {
    -fx-background-color: black;
    -fx-border-color: -fx-accent;
    -fx-border-width: 1px;
}

.result-pane {
    -fx-spacing: 5px;
    -fx-padding: 5px;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-color: gray;
}

.console-output {
    -fx-background-color: black !important;
    -fx-focus-traversable: false;
}

.path-label {
    -fx-font-size: 10px;
    -fx-font-family: "Monospaced"
}

.object-box:flow-group-hover {
    -fx-background-color: rgba(60, 0, 0, 0.5) !important;
}

Button.filter-tag-button:selected {
    -fx-background-color: rgba(0, 128, 0, 0.5) !important;
}

.rate-label {
    -fx-padding: 1px 3px 1px 3px;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.parameter-mapping-arrow {
    -fx-icon-size: 20;
    -fx-icon-color: grey;
}

.parameter-mapping-arrow:hover {
    -fx-icon-color: #501717 !important;
}

.parameter-mapping-arrow:active {
    -fx-icon-color: green;
}