.log-record {
    -fx-alignment: center-left;
    -fx-padding: 3px;
}

.log-record:hover {
    -fx-background-color: #351919;
}

.log-record:focused {
    -fx-background-color: #501717;
}

.tool-pane-header {
    -fx-padding: 5px;
    -fx-alignment: center-left;
    -fx-spacing: 5px;
}

.heading {
    -fx-font-size: 14px;
}

.tool-pane {
    -fx-border-color: green;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-background-color: #1e1f22;
}

.tool-pane:drop-possible {
    -fx-background-color: #222720;
}

.object-box {
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-padding: 2px;
    -fx-spacing: 5px;
    -fx-alignment: center-left;
}

.object-box:hover {
    -fx-background-color: rgba(0, 1000, 0, 0.1);
}

.object-box:selected {
    -fx-background-color: rgba(100, 0, 0, 0.35) !important;
}

.object-action-button {
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.object-action-button FontIcon {
    -fx-icon-size: 18px;
}

.object-action-button:hover {
    -fx-background-color: black;
}

.settings-pane {
    -fx-background-color: black;
}

.command-history-label:focused {
    -fx-background-color: gray;
}